# Visual Studio
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio database files
*.mdf
*.ldf

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates
